{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="login">
        <form class="login_2" action="./login.html" method="post">
            {{ form.hidden_tag}} <!--Requerido. Siempre al principio-->

            <div class="form-field">
                <label>Email:</label>
                <input type="text" class="form-input" name="Email">
                
            </div>

            <div class="form-field">
                <label>password</label>
                <input type="password" class="password" name="Password">
                {% for error in form.password.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            <div>
                <input class="botons" type="submit" value="Login">
                {{form.submit()}}
            </div>
        </form>
    </div>

    <div>
        Don't have an account? <a href="registro.html">Sign in</a>
    </div>

    
{% endblock %}