{% extends '_partials/base.html' %}
{% block title%}Login{% endblock %}

{% block content %}
<div class="d-flex w-100 justify-content-center p-3 align-items-center min-vh-100">
    <div class="border border-1 p-5 rounded-4 bg-black">
        <form id="login-form" action="./login" method="post">
            {{ form.csrf_token }}

            <div class="form-field1">
                {{ form.name.label(class_="form-label text-white") }}
                {{ form.name(class_="form-control text-black") }}
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-field2">
                {{ form.email.label(class_="form-label text-white") }}
                {{ form.email(class_="form-control text-black") }}
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-field mt-2">
                {{ form.password.label(class_="form-label text-white") }}
                {{ form.password(class_="form-control text-black") }}
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                Estoy de acuerdo con los <a href="#">Terminos y condiciones</a>
            </div>

            <div>
                <a href="./login.html">¿Ya tengo Cuenta?</a>
            </div>
            <div class="row mt-2">
                {{ form.submit(class_="btn btn-warning mt-4") }}
            </div>
        </form>
    </div> -->
</div>

{% endblock %}