<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="form-register">
        <h1>Registro</h1>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingresa su Nombre">
        <input class="controls" type="text" name="email" id="email" placeholder="Ingresa su Email">
        <input class="controls" type="text" name="correo" id="correo" placeholder="Ingresa su contaseña">
        <p>Estoy de acuerdo con los <a href="#">Terminos y condiciones</a> </p>
        <input class="botons" type="submit" value="Registrar">
        <p><a href="./login.html">¿Ya tengo Cuenta?</a></p>
    </section>   
</body>
</html>